/*此页有首页的header，nav,footer,banner的css*/
/*此页有活动首页的banner，page的css,条形标题的CSS、微博分享的css*/
/*此页有集团头部的css 两种用户资料展开的css*/
/*查看某人的弹出框的css*/

/* Header */
.header{width:1003px; height:64px; border:0px solid red; padding:15px 0 0 0}
.header img{border:0px solid red}
.header .loginBox{width:100px; height:30px; font-size:18px; font-family:"微软雅黑"; position:relative; top:-40px; left:890px}

/* Banner */
.banner{width:1003px; height:310px}
.banner img{margin:0px; padding:0px; border:0px}
.yinying{background-image:url(../images/yinying.png); height:15px}
	
/* Navigation */
div, ul, li{padding:0; margin:0;}
li{list-style-type:none;}
.navigation{width:1003px; margin:10px auto 0px; height:38px; background: url('../images/navigation/menu-bg.png') no-repeat; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); }
.navigation ul{padding-left: 120px}
.navigation li {float:left; width:109px; line-height:39px; text-align:center; position:relative; border:none;}
.navigation li:hover{background:url("../images/navigation/menu-hover.png") no-repeat right top; color: #FFF;}
.navigation li a{font-size:16px; color: #FFF; font-family:"微软雅黑"; display:block;outline:0;text-decoration:none; }
.navigation li:hover a{color:#fff;}
.navigation li .drop{background:url("../images/navigation/arrow.gif") no-repeat right 14px;margin-right:6px;}
.navigation li:hover .drop {background:url("../images/navigation/arrowhover.gif") no-repeat right 14px;}
.navigation li:hover .nodrop{height:37px;line-height:37px;border-bottom:1px solid #000;}
.navigation li:hover .dropdownColumn{left:0px;top:38px;}
.navigation .dropdownColumn{margin:0px auto;float:left;position:absolute;left:-999em; /* Hides the drop down */text-align:left;border:1px solid #000;border-top:none;background:#F4F4F4;width: 107px; z-index: 9999;}
.navigation .dropdown{display:inline;float: left;position: relative;margin-left: 5px;margin-right: 5px;width:130px;}
.navigation li:hover div a{font-size:15px;color:#444;}
.navigation li:hover div a:hover{color:#21910e;}
.navigation li ul {list-style:none;padding:10px 5px;margin:0;}
.navigation li ul li {font-size:12px;	line-height:26px;position:relative;padding:0;margin:0;	float:none;	text-align:left;width:130px;}
.navigation li ul li a{ padding-left: 10px;}
.navigation li ul li:hover {background:none;border:none;padding:0;margin:0;}

/* Notice */
.noticeBox{width:47px; height:34px; background:url(../images/gonggao.png) no-repeat; font-family:"&#24494; &#36719; &#38597; &#40657; "; padding-left:6px; line-height:35px; margin:-35px 0 0 920px}
.noticeBox .unreadNotice{width:20px; height:20px; position:relative; top:-46px; left:21px; font-family:"&#24494; &#36719; &#38597; &#40657; "; color:#FFF; font-size:11px; text-align:center; border:0px solid red}

 
.focuss ul{width: 84px; height: 90px; background: #000; visibility: hidden; margin: 0; padding: 0; position: absolute;  z-index: 9999; text-align: left; margin: 0; }
.focuss ul li{float: none;  margin:0; padding: 10px 0 0px 0px; line-height: 29px; font-size: 16px; list-style-type:square; }
.focuss1 ul li a:LINK{width:auto; padding: 7px 0 7px 5px; color:#FFF;}
/*以下是页脚的CSS*/
.footershang{
	width:1003px;
	height:40px;
	background-image:url(../images/footer.png);
	clear:both;
	margin-top:50px;
	}
.footer{
	background-color:#616161;
	padding:5px 55px;
	overflow:hidden;zoom:1;
	}
.footer_left{
	float:left;
	border-right:2px solid #c0c0c0;
	padding-right:40px;
	}
.footer_left .footer_link{
	width:55px;
}
.footer_link{
	color:#FFF;
	font-family:"微软雅黑";
	line-height:40px;
	float:left;
	margin:10px 25px;
	}
.footer_link  a:link {color: #f5f5f5;text-decoration:underline;}     /* 未访问的链接 */
.footer_link  a:visited {color: #f5f5f5;text-decoration:underline;} 
.footer_link  a:hover {color: #f5f5f5;text-decoration:underline;}    /* 当有鼠标悬停在链接上 */
.footer_link  a:active {color: #f5f5f5;text-decoration:underline;}   /* 被选择的链接 */

.footer_right{
	float:right;
	}
.footer_right .footer_link{
	float:right;
	text-align:right;
	}
.footer_right p{
	color:#FFF;
	text-align:right;
	font-family:"微软雅黑";
	line-height:30px;
	margin-right:25px;
	clear:both;
	}
/*以上是页脚的CSS*/
/*以下是页码的CSS*/
.pages{
	padding:32px 0 0 0;
	text-align:center;
	margin:0 auto;
	font-family:"微软雅黑";
	color:#616161;
	overflow:hidden;zoom:1;
	}
.pages ul{
	margin:0 auto;
	width:400px;
	}
.pages ul li{
	float:left;
	margin:0 10px;
	}
.pages ul li img{
	border:0;
	margin:0;
	padding:0;
	}
/*以下是活动页面的banner的CSS*/
.activities_content{
	width:943px;
	margin-left:28px;
	padding-bottom:40px;
	background-color:#FFF;
	border:2px solid #ececec;
	border-top:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	overflow:hidden;zoom:1;
	margin-bottom:30px;
	}
.activities_banner{
	width:943px;
	height:345px;
	}
.activities_banner img{
	border:0;
	padding:0px;
	margin:0px;
	float:left;
	}
/*以上是活动页面的banner的CSS*/
.fenge{
	height:20px;
	border-bottom:2px dashed #575757;
	}
/*以下是条形标题的CSS*/
.activities_tit{
	height:30px;
	background:#ececec;
	*margin-top:20px !important;
	margin-top:50px;
	clear:both;
	}
.tit_bj{
	width:135px;
	height:30px;
	margin-left:15px;
	font-family:"微软雅黑";
	font-size:18px;
	background:#8eac00;
	color:#FFF;
	line-height:30px;
	text-align:center;
	float:left;
	}
/*以上是条形标题的CSS*/
/*以下是微博分享的CSS*/
.fenxiang{
	float:right;
	color:#424242;
	}
.fenxiang img{
	border:0px;
	vertical-align:sub;
	}
.fenxiang a:link{text-decoration:underline;}
.fenxiang a:visited{text-decoration:underline;}
.fenxiang a:hover{text-decoration:underline;}
.fenxiang a:active{text-decoration:underline;}
/*以上是微博分享的CSS*/

/*以下是集团头部的css*/

.header2{
	padding:0 40px 0 0 ;
	height:50px;
	}
.header2 img{
	float:right;
	}
.nav2{
	float:right;
	background:#b3b3b3;
	line-height:28px;
	font-size:14px;
	font-family:"微软雅黑";
	margin-top:10px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	padding:0 10px;
	}
.nav2 li{
	float:left;
	padding:0 10px;
	position: relative;
	}
.nav2 li:link{background:#FFF; }
.nav2 li:visited{background:#FFF;}
.nav2 li:hover{background:#FFF; }
.nav2 li:active{background:#FFF; }

.group_content{
	width:943px;
	margin-left:28px;
	padding-bottom:0px;
	background-color:#FFF;
	border:2px solid #ececec;
	border-top:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom:30px;
	position:relative;
	}
.group_tit{
	margin-bottom:30px;
	zoom:1;
	}
.group_content1{
	width:943px;
	margin: 5px 0 0 30px;
	height:25px;
	background-color:#FFF;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	}
.group_content .group_logo{
	height:90px;
	width:350px;
	margin-left:30px;
	float:left;
	}
.group_logo img{
	height:90px;
	width:90px;
	float:left;
	}
.group_name{
	float:left;
	font-size:24px;
	font-family:"微软雅黑";
	margin-top:15px;
	width:260px;
	line-height:28px;
	}
.group_actno{
	height:55px;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	float:left;
	font-family:"微软雅黑";
	padding:5px 0 0 0;
	margin:20px 0 0 20px;
	}
.group_actno li{
	float:left;
	padding:0 20px;
	border-left:1px dashed #b2b2b2;
	text-align:center;
	}
.group_actno li span{
	font-size:28px;
	}
.group_user{
	width:200px;
	float:right;
	margin:15px 10px 0 0;
	font-family:"微软雅黑";
	}
.group_userimg {
	height:66px;
	width:66px;
	border:2px #dcdcdc solid;
	border-radius:2px;
	float:left;
	overflow:hidden;
	}
.group_username{
	width:125px;
	height:25px;
	background:#8eac00;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	float:left;
	margin-top:20px;
	line-height:25px;
	color:#FFF;
	padding-left:5px;
	font-size:14px;
	}
.group_username img{
	float:right;
	margin:7px 10px 0 0;
	}
/*以上是集团头部的css*/

/*以下是集团用户资料展开的css*/
.headname img{
	position:absolute;
	left: 110px;
	top:8px;
}
.headname {
	text-align:center;
}

.shenzhan{
	width:120px;
	background:#8eac00;
	float:left;
	position:absolute;
	right:10px;
	top:55px;
	z-index:1;
	padding:0 5px 10px 5px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	overflow:hidden;zoom:1;
	}
.shenzhan1{
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	}
.shenzhan a:link{color:#FFF;}
.shenzhan a:visited{color:#FFF;}
.shenzhan a:hover{color:#FFF;}
.shenzhan a:active{color:#FFF;}

.shenzhan1 dt{
	height:20px;
	background:#FFF;
	margin:5px 0 5px 5px;
	width:40px;
	line-height:20px;
	padding-left:10px;
	border-radius:5px;
	color:#779000;
	}
.shenzhan1 dd{
	margin:0px;
	padding:0px;
	border:0px;
	}
.shenzhan1 ul li{
	list-style-type:square;
	list-style-position:inside;
	color:#FFF;
	line-height:25px;
	margin-left:10px;
	}
.tuichu{
	color:#FFF;
	margin-left:10px;
	}

/*以上是集团用户资料展开的css*/
.products img{
	margin:0px;
	padding:0px;
}

/*以下是用户资料展开的css（个人）*/
.headimg{
	width:40px;
	height:40px;
	border:2px solid #dcdcdc;
	border-radius:2px;
	padding:0px;
	margin: -50px 0 0 825px;
}
.headname{
	width:130px;
	height:25px;
	background:#8eac00;
	margin:10px 0px 0 0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#FFF;
	line-height:25px;
	margin: -35px 0 0 870px;
}

.zhankai{
	width:120px;
	background:#8eac00;
	position:absolute;
	right:0px;
	top:22px;
	z-index:999;
	padding:0 5px 10px 5px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	text-align:left;
	font-size:12px;
	}
.zhankai .zhankai1{
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	}
.zhankai a:link{color:#FFF;}
.zhankai a:visited{color:#FFF;}
.zhankai a:hover{color:#FFF;}
.zhankai a:active{color:#FFF;}
.zhankai1 dt,.zhankai1 dd{
	margin:0px;
	padding:0px;
	}
.zhankai1 dt{
	height:20px;
	background:#FFF;
	margin:5px 0 5px 5px;
	width:40px;
	line-height:20px;
	padding-left:10px;
	border-radius:5px;
	color:#779000;
	}
.zhankai1 dd{
	text-align:left;
	padding-left:20px;
	background:url(../images/fangdian.png) no-repeat;
	background-position:10px 10px;
	}
.zhankai1_tuichu{
	margin-left:10px;
	}
	
/*以上是用户资料展开的css （个人）*/
#userMenu{width:130px; height:25px; background:#8eac00; margin: 0; float:right; font-size:14px; font-family:"微软雅黑"; color:#FFF; position:relative; z-index:999;line-height:25px; border-top-right-radius:3px; border-bottom-right-radius:3px; }
#userMenu li{width:130px; list-style:none; }
#userMenu li a{display:block; padding: 0px 0px; text-decoration:none; width:130px; color:#EAFFED; white-space:nowrap}
#userMenu li a:hover{}
#userMenu li ul{width:130px; height: 210px; background: #8eac00; visibility: hidden; margin:0;right:0px;position:absolute; z-index: 9999; text-align: left;}
#userMenu li ul li{font-size: 13px; line-height: 25px;}
#userMenu li ul .ahrt{border-top: 1px solid #FFF;}
#userMenu li ul .ahrb{border-bottom: 1px solid #FFF;}
#userMenu li ul li a{width:auto; background:#8eac00; padding: 0 20px; color:#FFF}
#userMenu li ul li a:hover{background:#728a00}

.up_box{
	width:245px;
	background:#e9e9e9;
	padding:10px;
	overflow:hidden;zoom:1;
	font-family:"微软雅黑";
	}
.up_box .img{
	width:45px;
	height:45px;
	border:2px solid #dcdcdc;
	float:left;
	margin-right:5px;
	overflow:hidden;
	}
.right_name{
	margin:0px;
	padding:0px;
	line-height:18px;
	}
.right_name img{
	padding:0px;
	margin:0px;
	vertical-align:-5px;
	}
.icon{
	width:230px;
	margin-top:5px;
	clear:both;
	}
.icon li{
	float:left;
	width:115px;
	}
.icon .km{
	text-align:right;
	}
.icon .button{
	float:right;
	width:55px;
	height:20px;
	background:#00b036;
	border-radius:2px;
	border:#00912c;
	font-size:12px;
	}
.slogan{
	clear:both;
	}
.slogan span{
	width:180px;
	float:right;
}
